@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
}

/*Header Superior*/

.header__superior{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img{
  width: 250px;
}

.search input{
  width: 300px;
  padding: 10px;
}

/*Barra menu*/

html{
  scroll-behavior: smooth;
}

.container__menu{
  width: 100%;
  height: 70px;
  background: #e64883;
  padding: 0px 20px;
}

.menu{
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

nav{
  height: 100%;
}

nav > ul{
  height: 100%;
  display: flex;
}
nav > ul > li{
  height: 100%;
  list-style: none;
  position: relative;
}

nav > ul > li:first-child>a{
  background-image: url(Imagen/home\ \(2\).png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px 40px;
}

nav > ul > li:first-child:hover > a{
  background-image: url(Imagen/home\ \(2\).png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

nav > ul > li > a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 14px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 300ms ease;
}

nav > ul > li > a:hover{
  transform: scale(1.1);
  background: #f65893;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

nav ul li{
  height: 100%;
  list-style: none;
  position: relative;
}

header {
  position: relative;
  z-index: 1;
}


#selected{
  transform: scale(1.1);
  background-color: #f65893;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5)
}

/*Submenu*/

nav ul li ul{
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

nav ul li:hover ul{
  visibility: visible;
  opacity: 1;
  top: 70px;
}

nav ul li ul:before{
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px
}

nav ul li ul li a{
  display: block;
  color: #3B3486;
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}

nav ul li ul li a:hover{
  background: #7743DB;
  color: #fff;
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*Articulos*/

main {
  background-color: var(--body-color);
  padding: 40px 20px;
}

article {
  max-width: 1200px;
  margin: 20px auto;
  padding: 40px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article p{
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
}

.container__submenu{
    width: 100%;
    height: 70px;
    background: #576CBC;
    padding: 0px 20px;
  }

.submenu{
  max-width: 1200px;
  margin: auto;
  height: 100%;
 }

#selected2{
  transform: scale(1.1);
  background-color: #0B2447;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5)
}



footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #c2bfbf;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #555;
}
